<?php

return array(
    'referral-ingestion' => array(
        'app-database' => array(
            'host' => '',
            'user' => '',
            'pass' => '',
            'db'   => '',
        )
    ),
    'druid-connection' => array(
            'ip'   => '0.0.0.0',
            'port' => '8087'
    )
);
