<?php

return array(
    'referral-ingestion' => array(
        'app-database' => array(
            'host' => '',
            'user' => '',
            'pass' => '',
            'db'   => '',
        )
    )
);
